OPENAI_API_KEY=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
OPENAI_CHAT_MODEL=gpt-4o-mini
